.App-list {
	border: 1px solid;
	width: 400px;
	border-radius: 4px;
	padding: 11px;
	margin-left: auto;
	margin-right: auto;
	background: lightgrey;
	list-style: inside;
	margin-top: 5px;
}

.table-wd {
	width: 50%;
	float: left;
	margin-top: 5px;
}

.main-component {
	padding: 5px;
}

.contacts-form {
	width: 45%;
	float: right;
}

input {
	margin-top: 5px;
	margin-bottom: 5px;
}

tr {
	cursor: pointer;
}